html, body {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.download-icon{
  cursor:pointer;
}
/* Estilos para móviles */
@media (max-width: 768px) {
  .ag-theme-alpine .ag-cell {
    font-size: 12px; /* Reducir el tamaño de la fuente */
    padding: 4px;    /* Reducir el padding */
  }

  .ag-theme-alpine .ag-header-cell {
    font-size: 14px; /* Reducir el tamaño de la fuente del encabezado */
  }
}